body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.text-center {
    text-align: center;
}
.bottom-border {
    border: 2px solid #000;
    min-width: 60px;
    margin: 5px auto;
    width: 60px;
}

#timecounter {
    margin: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.border-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #232323;
    font-size: 24px;
    margin: 20px 0;
}

header {
    padding: 10px;
    box-shadow: 0 5px 4px 0 rgba(105, 102, 102, 0.5);
    background-color: #ffffff;
}

.form-conatiner {
    height: 605px;
    opacity: 0.75;
    border: solid 1px #990000;
    background: url(../images/hero-banner.jpg),#3e3a3b;
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 100%;
    padding: 0px 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-left-container {
    flex: 1 1 60%;
}

.form-left-container .top-block h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.form-left-container .top-block h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.form-left-container .bottom-block h5  {
    font-family: OpenSans;
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}


.form-left-container .bottom-block button {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: 0;
    background: #000;
}
.form-right-container {
    flex: 1 1 40%;
}
.form-right-container form {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}
.form-right-container form label {
  color: red;
  font-size: 12px;
}
.form-right-container form .input-types {
    padding: 10px;
    margin: 5px 2px;
    border-radius: 4px;
    border: solid 1px #979797;
}

.form-right-container form .agreement-checkbox {
    font-size: 12px;
    color: #2a2828;
    display: flex;
    margin: 5px 2px;
    position: relative;
}

.form-right-container form .agreement-checkbox label {
  position: absolute;
  bottom: -12px;
  left: 0;
}

.form-right-container form input[type="submit"] {
    padding: 5px;
    margin: 5px auto;
    border-radius: 4px;
    width: 100%;
    border: solid 1px #979797;
    background-color: #8c1515;
    color: #fff;
    width: 120px;
    
}

.form-right-container form select {
    padding: 10px;
    margin: 5px 2px;
    border-radius: 4px;
    border: solid 1px #979797;
}

.why-design-thinking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-design-thinking-container iframe {
    margin: 0 auto;
}
.why-design-thinking-container .card-block {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    margin: 50px 10%;
}
.why-design-thinking-container .card-block .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 220px;
    box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    padding: 20px;
    font-size: 14px;
 }

 .why-design-thinking-container .card-block .cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .why-design-thinking-container .card-block .cards img {
    width: 64px;
    margin-bottom: 20px;
 }
 

 .curriculam-snapshot-block {
    background-color: #e2ddcb;
    padding: 30px 15%;
 }

 .curriculam-snapshot-block .description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #232323;
 }

.collapsible-block {
    border-bottom: 1px solid #232323;
}

 .collapsible {
    background-color: #fff;
    color: #131212;
    border: 1px solid #232323;
    border-bottom: 0;
    border-collapse: collapse;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgba(19, 18, 18, 0.3);
  }
  
  .collapsible:after {
    content: '\002B';
    color: #232323;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible.active-panel:after {
    content: "\2212" !important;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
  }

  .content.active {
      height: auto;
      max-height: 100%;
      border: 1px solid #232323;
      border-bottom: 0;
  }

  footer {
    padding: 20px;
    background: #8c1515;
    color: #fff;
    text-align: center;
  }

  footer .apply-btn {
    background-color: #eaab00;
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
    border: 0;
  }

  @media (max-width:479px) {
    .form-conatiner {
        height: auto;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
    }
      .form-conatiner .form-left-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-conatiner .form-right-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-right-container form {
          width: auto;
      }
      .why-design-thinking-container iframe {
        margin: 0 5%;
        width: auto;
      }
      .why-design-thinking-container .card-block {
          flex-direction: column;
      }
      .why-design-thinking-container .card-block .cards {
          margin: 20px auto;
      }
  }


  @media (min-width:480px) and (max-width:599px) {
    .form-conatiner {
        height: auto;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
    }
      .form-conatiner .form-left-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-conatiner .form-right-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-right-container form {
          width: auto;
      }
      .why-design-thinking-container iframe {
        margin: 0 5%;
        width: auto;
      }
      .why-design-thinking-container .card-block {
          flex-direction: column;
      }
      .why-design-thinking-container .card-block .cards {
          margin: 20px auto;
      }
  }

  @media (min-width:600px) and (max-width:967px) {
    .form-conatiner {
        height: auto;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
    }
      .form-conatiner .form-left-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-conatiner .form-right-container {
        flex: 1 1 100%;
        margin: 5%;
      }
      .form-right-container form {
          width: auto;
      }
    .why-design-thinking-container .card-block {
        display: flex;
        justify-content: space-between;
        flex: 1 1 100%;
        margin: 50px 5%;
    }
      .form-right-container form {
          width: auto;
      }
      .why-design-thinking-container iframe {
        margin: 0 5%;
        width: auto;
      }
      .why-design-thinking-container .card-block {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .why-design-thinking-container .card-block .cards {
          margin: 20px 0;
      }
  }